<md-card>
    <md-card-header>
        <md-card-title><h2>Kantoor opzoeken</h2></md-card-title>
    </md-card-header>
    <md-card-content>
        <div>
            <md-input-container>
                <input mdInput placeholder="Kantoorcode" [(ngModel)]="criteria.kantoorCode">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="Contactgroep" [(ngModel)]="criteria.contactGroep">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="Taal" [(ngModel)]="criteria.taalForData">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="User ID" [(ngModel)]="criteria.userId">
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="Domein" [(ngModel)]="criteria.domein">
            </md-input-container>
        </div>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="search()">Zoek</button>
    </md-card-actions>
</md-card>

<h2>Zoekresultaat:</h2>

<div *ngIf="gevondenKantoor">
    <div><label>Kantoorcode:</label>{{gevondenKantoor.kantoorCode}}</div>
    <div><label>Naam:</label>{{gevondenKantoor.naam}}</div>
    <div><label>Email:</label>{{gevondenKantoor.email}}</div>
    <div><label>Straat:</label>{{gevondenKantoor.straat}}</div>
    <div><label>Gemeente:</label>{{gevondenKantoor.gemeente}}</div>
    <div><label>Huisnummer:</label>{{gevondenKantoor.huisnummer}}</div>
    <div><label>Bus:</label>{{gevondenKantoor.bus}}</div>
    <div><label>Postcode:</label>{{gevondenKantoor.postcode}}</div>    
</div>

<div *ngIf="fout">
    <h3>{{fout}}</h3>
</div>
