<md-grid-list cols="2" rowHeight="5:4" gutterSize="4em">
    <md-grid-tile>
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h2>
                        <img class="rd-card-title-img" src="../assets/kantoor_icon.png">
                        Kantoor opzoeken
                    </h2>
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <div>
                    <md-input-container>
                        <input mdInput placeholder="Kantoorcode" [(ngModel)]="criteria.kantoorCode">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput placeholder="Contactgroep" [(ngModel)]="criteria.contactGroep">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput placeholder="Taal" [(ngModel)]="criteria.taalForData">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput placeholder="User ID" [(ngModel)]="criteria.userId">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput placeholder="Domein" [(ngModel)]="criteria.domein">
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="search()">Zoek</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>

    <md-grid-tile>
        <md-card>
            <md-card-header>
                <md-card-title><h2>Zoekresultaat</h2></md-card-title>
            </md-card-header>
            <md-card-content>
                <dl>
                    <dt>Kantoorcode:</dt>
                    <dd>{{gevondenKantoor?.kantoorCode}}</dd>
                    <dt>Naam:</dt>
                    <dd>{{gevondenKantoor?.naam}}</dd>
                    <dt>Email:</dt>
                    <dd>{{gevondenKantoor?.email}}</dd>
                    <dt>Straat:</dt>
                    <dd>{{gevondenKantoor?.straat}}</dd>
                    <dt>Gemeente:</dt>
                    <dd>{{gevondenKantoor?.gemeente}}</dd>
                    <dt>Huisnummer:</dt>
                    <dd>{{gevondenKantoor?.huisnummer}}</dd>
                    <dt>Bus:</dt>
                    <dd>{{gevondenKantoor?.bus}}</dd>
                    <dt>Postcode:</dt>
                    <dd>{{gevondenKantoor?.postcode}}</dd>    
                </dl>
                <div *ngIf="fout" class="rd-accent">
                    {{fout}}
                </div>
            </md-card-content>
        </md-card>
    </md-grid-tile>
</md-grid-list>