<h2>Kantoor opzoeken</h2>

<div>
    <div>
        <label>Kantoorcode:</label>
        <input [(ngModel)]="criteria.kantoorCode">
    </div>
    <div>
        <label>Contactgroep:</label>
        <input [(ngModel)]="criteria.contactGroep">
    </div>
    <div>
        <label>Taal:</label>
        <input [(ngModel)]="criteria.taalForData">
    </div>
    <div>
        <label>User ID:</label>
        <input [(ngModel)]="criteria.userId">
    </div>
    <div>
        <label>Domein:</label>
        <input [(ngModel)]="criteria.domein">
    </div>
    <button (click)="search()">Zoek</button>
</div>

<h2>Zoekresultaat:</h2>

<div *ngIf="gevondenKantoor">
    <div><label>Kantoorcode:</label>{{gevondenKantoor.kantoorCode}}</div>
    <div><label>Naam:</label>{{gevondenKantoor.naam}}</div>
    <div><label>Email:</label>{{gevondenKantoor.email}}</div>
    <div><label>Straat:</label>{{gevondenKantoor.straat}}</div>
    <div><label>Gemeente:</label>{{gevondenKantoor.gemeente}}</div>
    <div><label>Huisnummer:</label>{{gevondenKantoor.huisnummer}}</div>
    <div><label>Bus:</label>{{gevondenKantoor.bus}}</div>
    <div><label>Postcode:</label>{{gevondenKantoor.postcode}}</div>    
</div>

