<md-sidenav-container>
  <md-sidenav mode="push" #sidenav>
    <md-nav-list>
      <a *ngFor="let domein of domeinen" md-list-item routerLink="/{{domein}}" routerLinkActive="active">
        <img md-list-avatar src="../assets/{{domein}}_icon.png">
        <p md-line>{{hoofdletter(domein)}}</p>
      </a>
    </md-nav-list>
    <button md-button (click)="sidenav.close()">Sluiten</button>
  </md-sidenav>
  
  <div class="rd-sidenav-content">
    <h1>
      <button md-mini-fab class="example-fab rd-sidenav-fab" (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      {{titel}}
    </h1>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>