@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

/* #f4bf75 = 244, 191, 117 */

h1 {
  color: #f4bf75;
  font-size: 2.5rem;
}

.rd-card-title-img {
  float: left;
  width: 1.2em;
  margin-right: 10px;
}

.rd-fout {
  color: #f4bf75;
  font-weight: bold;
}

.rd-sidenav-fab {
  background-color: #f4bf75;
  vertical-align: top !important;
}

.rd-sidenav-content {
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 20px;
}

.mat-list-item-focus .mat-line {
  color: #f4bf75;
}

.mat-input-underline .mat-input-ripple {
  background-color: #f4bf75;
}

.mat-input-placeholder.mat-focused {
  color: #f4bf75;
}

.mat-card {
  padding: 5% !important;
  border-radius: 10px !important;
}

.mat-card-header-text {
  margin: 0 20px !important;
}

md-card {
  width: 85%;
  height: 85%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #515151;
}

dt, dd {
  display: inline-block;
  margin-top: 0.5em;
}

dt {
  width: 25%;
  font-weight: bold;
}

dd {
  margin-left: 0;
  width: 70%;
}